@font-face {
   font-family: 'Hack Regular Nerd Font Complete Mono';
   font-display: swap;
   src: url('file:///A:/lozan/Documents/Repos%20GIT/Rain-Bringer-2.x.x/fonts/Hack%20Regular%20Nerd%20Font%20Complete%20Mono/font.ttf');
}
