@font-face {
   font-family: 'Hack Regular Nerd Font Complete Mono';
   font-display: swap;
   src: url('file:///C:/Users/lozan/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-20_002956/fonts/Hack%20Regular%20Nerd%20Font%20Complete%20Mono/font.ttf');
}
